* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* HEADER */
header {
  background-color: #F8F9FA;
  font-size: 25px;
  padding: 20px 10px
}

/* MAIN */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.buttons-container {
  padding: 40px 0;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

button {
  padding: 10px;
  font-size: 15px;
  margin: 20px 10px;
  color: white;
  background-color: rgb(47, 158, 255);
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.card {
  margin: 50px 0;
  border: 1px solid black;
  border-radius: 15px;
  padding: 30px;
}

button.active {
  color: #000;
  background-color: #FFC107;
}


.card-active {
  display: block;
}

.card-active h2 {
  margin-bottom: 10px;
}